@charset "UTF-8";

/* Extra extra large */
@media (min-width: 1400px){
}
/* Extra large */
@media (max-width: 1400px){
}

/* Large */
@media (max-width: 1200px){
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
    
}
/* Medium */
@media (max-width: 992px){
    div.about-text {
        text-align: justify;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/* Small */
@media (max-width: 768px){
    nav.navbar > .container {
        display: flex;
        justify-content: center;
    }
    nav.navbar > .container > .desktop-screen {
        display: none;
    }
    .nav-bar {
        display: none;
    }
    .btn-menu-mob {
        display: flex;
    }
    #main-titulo {
        font-size: 2em;
    }
}
@media screen and (min-width: 576px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Extra small */
@media (max-width: 576px){
    .btn-menu-mob .line-menumob-1.ativo1{
        transform: rotate(45deg) translate(30%);
        width: 30px;
    }
    .btn-menu-mob .line-menumob-2.ativo2{
        transform: rotate(-45deg) translate(30%);
        width: 30px;
    }
    #post-content {
        width: 100%;
        margin: 0;
    }
    .post-container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .post-container h1 {
        font-size: 1.5em;
    }
    
    .navbar {
        height: 8vh;
    }
    .navbar-brand {
        height: 100%;
    }
    #Galea {
        height: 80%;
    }

    .banner > .container > p > span{
        padding: 0;
    }    
}

/* Especial */
@media (max-height: 420px){
    #menu-galea {
        height: 30%;
        position: absolute;
        top: 8%;
        left: 10%;
    }
}
@media (max-width: 804px){
    .banner-title {
        font-size: 3rem;
    }
}