@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --FiraSans: 'Fira Sans', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
    --OpenSans: 'Open Sans', sans-serif;
    --dark: #3c393d; 
    --exDark: #2b2b2b;
    --vermelho1: #ff0000; 
    --vermelho2: #8a4343;
    --vermelho3: #760000;
    --vermelho4: #4b0000;
    --vermelho5: #4b0000;
    --branco: #fff;
    --amarelo1: yellow;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
a:focus {
    outline: 0;
    box-shadow: 0 0 10px var(--branco);
    border: 1px solid var(--branco);
}
body{
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../imgs/10.png) top/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(120, 0, 0, 0.6);
    padding: 0rem;
    height: 10vh;
    & .container{
        height: 100%;
        width: 70%;
    }
}
.navbar-brand{
    width:12%;
    height:100%;
    color:var(--branco);
    font-size:2rem;
    display:flex;
    text-align:center;
    text-decoration:none;
    justify-content:center;
    font-family:var(--Playfair);
    letter-spacing:1px;
}
.navbar-brand > img{
    width:auto;
    height:100%;
}
.navbar-nav{
    width: 100%;
    padding:0.8rem 0 0.2rem 0;
    text-align:center;
}
.navbar-nav a{
    text-transform:uppercase;
    font-family:sans-serif;
    color:var(--branco);
    text-decoration:none;
    display:inline-block;
    padding:0.4rem 0.1rem;
    transition:opacity 0.5s ease;
    font-weight:bold;
}
.navbar-nav a:hover{
    opacity:0.7;
}

/* Início Tela mobile */ 

/* Estilos do Botão de menu mobile */
.btn-menu-mob{
    position:absolute;
    height:4.5%;
    min-height:30px;
    padding:1%;
    top:2%;
    right:20px;
    border-radius:10px;
    display:none;
    flex-direction:column;
    justify-content:space-around;
    z-index:3;
}
#Galea {
    height: 70%;
    align-self: center;
}
.btn-menu-mob > div{
    height:3px;
    background-color:var(--branco);
    border:1px solid var(--branco);
    transition:.6s;
}
.line-menumob-1{
    width:26px;
}
.line-menumob-2{
    width:16px;
}
.btn-menu-mob .line-menumob-1.ativo1{
    transform:rotate(45deg) translate(20%);
    width:33px;
}
.btn-menu-mob .line-menumob-2.ativo2{
    transform:rotate(-45deg) translate(21%);
    width:33px;
}

/* Estilo menu mobile*/
.menu-mobile{
    height:0%;
    width:0%;
    background-color:#4b0000;
    position:absolute;
    top:0;
    right:0;

    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    overflow:hidden;
    transition:.5s;
    
    z-index:2;
}
.menu-mobile-galea{
    display:flex;
    justify-content:center;
}
#menu-galea{
    height: 15%;
    width:auto;
    position:absolute;
    top:8%;
}
.menu-mobile nav{
    width:100%;
}
.menu-mobile nav ul{
    list-style-type:none;
}
.menu-mobile nav a{
    font-size:24px;
    text-decoration:none;
    color:var(--branco);
    padding:20px 0;
    display:block;
    transition:.5s;
}
.menu-mobile nav a:hover{
    color:black;
    background-color:var(--branco);
    box-shadow:0 0 20px var(--branco);
}
.menu-mobile.abrir{
    height:100vh;
    width:100%;
}

body.no-overflow{
    overflow:hidden;
}
body.overflow{
    overflow: scroll;
}

/* Fim Tela mobile */

.banner{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:var(--branco);
}
.banner-title{
    font-size:3rem;
    font-family:var(--Playfair);
    line-height:1.2;
}
.banner-title span{
    font-family:var(--Playfair);
    color: rgb(207, 207, 3);
}
.banner p, .banner > .container > p > span{
    padding:1rem 0 2rem 0;
    font-size:1.2rem;
    text-transform:capitalize;
    font-family:var(--Roboto);
    font-weight:300;
    word-spacing:2px;
}
.banner > .container > p > span{
    padding:0rem 0 2rem 0;
}

.banner form{
    background-color:var(--branco);
    border-radius:2rem;
    padding:0.6rem 1rem;
    display:flex;
    justify-content:space-between;
}
.search-input{
    font-family:var(--Roboto);
    font-size:1.1rem;
    width:100%;
    outline:0;
    padding:0.6rem 0;
    border:none;
}
.search-input::placeholder{
    text-transform:capitalize;
}
.search-btn{
    width:40px;
    font-size:1.1rem;
    color:var(--dark);
    border:none;
    background:transparent;
    outline:0;
    cursor:pointer;
}

/* design */

.title{
    text-align:center;
    padding:1rem 0;
}
.title h2{
    font-family:var(--Playfair);
    font-size:2.4rem;
}
.title p{
    text-transform:uppercase;
    padding:0.6rem 0;
}
.design-img{
    position:relative;
    overflow:hidden;
}
.design-img::after{
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition:all 0.5s ease;
}
.design-item:hover img{
    transform:scale(1.2);
}
.design-img span:first-of-type{
    position:absolute;
    z-index:1;
    top:10px;
    left:10px;
    background:var(--exDark);
    color:var(--branco);
    padding:0.25rem 1rem;
}
.design-img span:last-of-type{
    position:absolute;
    z-index:1;
    bottom:10px;
    right:10px;
    color:var(--branco);
    font-weight:700;
    font-size:1.1rem;
}
.design-title{
    padding:1rem;
    font-size:1.2rem;
    text-align:center;
    width:70%;
    margin:0 auto;
}
.design-title a{
    color:var(--dark);
    text-decoration:none;
    text-transform:capitalize;
    font-family:var(--Playfair);
}

/* Blog */
.blog{
    background:#f9f9f9;
    padding:4.5rem 0;
}
.blog .container{
    width: 90%;
}
.blog-content{
    margin:2rem 0;
    width: 100%;
}
.blog-img{
    position:relative;
}
.blog-img img{
    min-height: 250px;
    height: 70vh;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: var(--branco);
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-text{
    padding: 0.8rem;
}
.Card-data{
    font-weight: 300;
    display: block;
    padding-bottom: 0;
}
.Card-title{
    font-family: var(--Playfair);
    padding: 0.5rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.anotherline {
    font-family: var(--Playfair);
    display: contents;
}
.Card-subtitle{
    padding-bottom: 1.2rem;
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.9;
}
.button{
    padding: 0.55rem 1.2rem;
    border: 2px solid var(--vermelho5);
    border-radius: 10px;
    font-family: var(--Roboto);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--branco);
    background: var(--vermelho4);
    display: inline-block;
    transition: all 0.5s ease;
    outline: 0;
}
.button:hover{
    border: 2px solid var(--vermelho4);
    color: var(--vermelho4);
    background: var(--amarelo1);
    box-shadow: 0 0 20px var(--vermelho4);
}
.button.button2 {
    background-color: var(--amarelo1);
    color: var(--vermelho4);
    border-color: rgb(165, 165, 0);
}
.button.button2:hover {
    background-color: var(--vermelho4);
    color: var(--branco);
    border-color: var(--branco);
    box-shadow: 0 0 20px var(--branco);
}
.button:focus {
    outline: 0;
    box-shadow: 0;
}
.blog .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#load-more{
    margin-bottom: 5px;
}
/* Fim da sessão blog */
/* Sessão temática */
#temas {
    width: 100%;
    padding: 2.5rem 2.5rem 4.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--vermelho4);
}
#temas > h2 {
    color: var(--branco);
    font-size: 2rem;
    margin-bottom: 2.5rem;
}
#temas__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2%;
}
.temasCard {
    width: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--branco);
    border-radius: 10px;
}
.temasCard:hover, .temasCard:focus{
    box-shadow: 0 0 20px var(--branco);
    transition: .6s;
    outline: 0;
}
.temasCard__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
        border-radius: 10px 10px 0 0;
    }
}
.temasCard .temasCard__body {
    width: 100%;
    padding: 1rem;
    color: var(--branco);
}
.temasCard__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Card-subtitle {
    flex-grow: 1;
}
/* Fim da sessão temática */
/* About */
.about{
    padding: 4.5rem 0;
}
#logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo {
    width: 60%;
}
.about-text{
    margin: 2rem 0;
}
.about-text p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}

#about-text__ul > li{
    margin: 0 4%;
}
#about-text__ul li >*{
    font-family: var(--Quicksand);
}

/* Contato */
.contact{
    background-color: #f9f9f9;
    min-height: 70vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-container > form{
    display: flex;
    max-width: 90vw;
    flex-direction: column;
    gap: 1vh;
    outline: 0;
}
.contact-container > form > textarea{
    min-height: 3vh;
    min-width: 24vw;
    max-width: 90vw;
    padding: 1%;
    color: black;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
}
.contact-container > form > input{
    padding: 1%;
    color: rgb(68,68,68);
    font-family: var(--Montserrat);
    border: 1px solid black;
    border-radius: 5px;
}
.contact-container > form > button{
    padding: 2% 0;
    font-weight: bold;
    border: 1px solid var(--vermelho4);
    border-radius: 5px;
    color: var(--branco);
    background-color: var(--vermelho4);
}
.contact-container > form > button:hover{
    box-shadow: 0 0 20px var(--vermelho3);
    transition: .8s;
}

footer{
    background: var(--vermelho3);
    color: var(--branco);
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid var(--branco);
    color: var(--branco);
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background:var(--branco);
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}
